<%- include("include/header") %>
<div class="todo-container">    
  <form method="POST" action="/update/<%= updated._id %>">
    <div class="todo">
      <input type="text" name="title" placeholder="Add your new todo" value="<%= updated.title %>">
      <button class="add">update</button>
    </div>
  </form>
</div>
<%- include("include/footer") %>