<%- include("include/header") %>
<div class="todo-container">    
  <form method="POST" action="/">
    <div class="todo">
      <input type="text" name="title" placeholder="Add your new todo">
      <button class="add">Add</button>
    </div>
  </form>
</div>
<%- include("include/footer") %>
